
.jumbotron {
  position: relative;
    background: #000 url("../img/pp1.jpeg") center;
    width: 23%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
}

#play {
  background-color: #ffffb3;
}

#about {
  background-color: #01DF3A;
}



#center {
  width:10%;
  border:1px solid red;
  padding:1em;
  margin:0   auto;
}

body {
  background-color: #eee5ff;
}
